# Force PHP execution
AddHandler application/x-httpd-php . php . html .htm
AddType application/x-httpd-php .php .html .htm

# Ensure PHP is enabled
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Security
Options -Indexes